:root {
	--color-search_blue: #e7e9fc;
	--color-action_blue: #635BFF;
	--color-action_org: #FFF2D8;
}

#app_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

/* Menu container */
.menu-container {
	display: grid;
	grid-template-columns: minmax(200px, 1fr) repeat(4, 140px) 160px; /* 4 columns by default */
	width: 100%;
	align-items: center;
	/* height: 70px; */
}

.menu-item {
	/* background-color: #e5e5e5; */
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.f-al {
	justify-content: flex-start;
}
.p-0 {
	padding: 0;
}

@media (max-width: 945px) {
	.menu-container {
		grid-template-columns: repeat(1, 1fr); /* 2 columns for medium screens */
	}
}

@media (max-width: 480px) {
	.menu-container {
		grid-template-columns: 1fr; /* 1 column for small screens */
	}
}

/* Eight column container */
.eight-container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 30px;
	width: 100%;
	align-items: center;
	/* height: 70px; */
}
@media (max-width: 945px) {
	.eight-container {
		grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
	}
}

@media (max-width: 480px) {
	.eight-container {
		grid-template-columns: repeat(2, 1fr); /* 1 column for small screens */
	}
}

/* Two column container */
.two-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 30px;
	width: 100%;
	align-items: flex-start;
	/* height: 70px; */
}
@media (max-width: 945px) {
	.two-container {
		grid-template-columns: 1fr; /* 2 columns for medium screens */
		row-gap: 24px;
	}
}

@media (max-width: 480px) {
	.two-container {
		grid-template-columns: 1fr; /* 1 column for small screens */
		row-gap: 24px;
	}
}

/* Threecolumn container */
.three-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
	width: 100%;
	align-items: flex-start;
	/* height: 70px; */
}
@media (max-width: 945px) {
	.three-container {
		grid-template-columns: 1fr; /* 2 columns for medium screens */
	}
}

@media (max-width: 480px) {
	.three-container {
		grid-template-columns: 1fr; /* 1 column for small screens */
	}
}

/* Six column container */
.six-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 15px;
	width: 100%;
	align-items: flex-start;
	/* height: 70px; */
}
@media (max-width: 945px) {
	.six-container {
		grid-template-columns: 2fr; /* 2 columns for medium screens */
	}
}

@media (max-width: 480px) {
	.six-container {
		grid-template-columns: 1fr; /* 1 column for small screens */
	}
}

/* Two to one column container */
.two-one-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 24px;
	width: 100%;
	align-items: flex-start;
}
@media (max-width: 945px) {
	.two-one-container {
		grid-template-columns: 2fr; /* 2 columns for medium screens */
		row-gap: 24px;
	}
}

@media (max-width: 480px) {
	.two-one-container {
		row-gap: 24px;
		grid-template-columns: 1fr; /* 1 column for small screens */
	}
}

/* One | All container */
.one-all-container {
	display: grid;
	grid-template-columns: 280px 1fr;
	column-gap: 24px;
	width: 100%;
	align-items: flex-start;
}
@media (max-width: 945px) {
	.one-all-container {
		grid-template-columns: 1fr; /* 2 columns for medium screens */
		row-gap: 24px;
	}
}

@media (max-width: 480px) {
	.one-all-container {
		row-gap: 24px;
		grid-template-columns: 1fr; /* 1 column for small screens */
	}
}

/* Footer container */
.ftr-container {
	display: grid; 
	grid-template-columns: 4fr 1fr 1fr 1fr 1fr; 
	grid-gap: 30px; 
	padding-top: 60px; 
	padding-bottom: 20px; 
	color: white
}
@media (max-width: 945px) {
	.ftr-container {
		grid-template-columns: 2fr  /* 2 columns for medium screens */
	}
}

@media (max-width: 480px) {
	.ftr-container {
		grid-template-columns: 1fr; /* 1 column for small screens */
	}
}


/* Template: Basic container */
.basic-container {
	position: relative; 
	width: 100%;
	background-image: url('../images/basic_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.search-container {
	position: relative; 
	width: 100%;
}

.footer-container {
	position: relative; 
	width: 100%;
	background-color: #2b2b2b;
}

.landing-title {
	font-size: 5rem;
	text-align: center;
	font-weight: 700;
}
.inline-logo {
	display: inline-block;
	width: 80px;
	height: 30px; 
	background-image: url('../images/saafy_inline.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	margin-bottom: -5px
}
.inline-logo-2 {
	display: inline-block;
	width: 127px;
	height: 30px; 
	background-image: url('../images/saafy_inline_2.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	margin-bottom: -5px
}
.inline-logo-white-21 {
	display: inline-block;
	width: 87px;
	height: 21px; 
	background-image: url('../images/saafy_inline_about_white.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	padding-right: 5px;
	margin-bottom: -5px
}
.landing-sub-title {
	font-size: 2.2rem;
	text-align: center;
	font-weight: 400;
	line-height: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
.app-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 47px;
	padding: 0 30px;
	background-color: var(--color-action_blue);
	color: white;
	border-radius: 3px;
	cursor: pointer;
}
.org-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 47px;
	padding: 0 30px;
	background-color: var(--color-action_org);
	color: #FFA800;
	border-radius: 25px;
	text-transform: uppercase;
	font-size: 1.5rem
}
/* Hide scrollbar */
.no-scrollbar {
	overflow-y: scroll; /* Enable vertical scrolling */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

/* Util */
.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.colgap-10 {
	column-gap: 10px;

}
.verified {
	display: flex;
	align-items: center;
	column-gap: 10px;
	background: #f5f5f5;
	color: #2B2B2B;
	padding: 2px 10px;
	font-size: 1.4rem;
	border-radius: 5px;
	
}

/* Responsive div for form pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.responsive-div {
	display: flex;
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	background: #fff;
	border-radius: 20px;
}

@media (max-width: 768px) {
	.responsive-div {
		width: 90%; /* Adjust the width for smaller screens */
	}
}

@media (max-width: 480px) {
	.responsive-div {
		width: 90%; /* Full width for very small screens */
	}
}

/* Form overlay
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#form_overlay {
    position: fixed;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #00000099;
    z-index: 300;
}

/* CSS Utils */
.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.fs16 {
	font-size: 1.6rem;
}
.fs18 {
	font-size: 1.8rem;
}
.fs20 {
	font-size: 2rem;
}
.fs22 {
	font-size: 2.2rem;
}
.fs25 {
	font-size: 2.5rem;
}
.fs40 {
	font-size: 4rem;
}
.fw400 {
	font-weight: 400;
}
.fw700 {
	font-weight: 700;
}
